@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 211, 211, 211;      /* Bright grey using RGB values */
  --background-rgb: 244, 238, 255; /* RGB values for #edccb4 */
}

body {
  color: rgb(var(--foreground-rgb));     /* Sets the text color of the body using the updated grey color */
  background: rgb(var(--background-rgb)); /* Sets the background color of the body to peach */
  font-family: 'Poppins'; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Header Top */
.header-top {
  position: fixed;    /* Keeps the header at the top of the viewport */
  top: 0;             /* Aligns the header at the top of the page */
  left: 0;            /* Aligns the header to the left side of the page */
  width: 100%;        /* Ensures the header spans the full width */
  height: 5rem;       /* Sets the height of the header */
  padding: 0rem;      /* Provides padding around the content */
  background-color: rgb(66, 72, 116); /* Sets the background color */
  z-index: 50;        /* Ensures the header stays above other content */
}

/* Top Bar */
.top-bar {
  background-color: rgb(244, 238, 255); 
  height: 10px; 
  width: 100vw;  /* Ensures the top bar spans the full viewport width */
  position: absolute;  /* Positions it at the top */
  top: 0;  /* Aligns it to the top of the header */
  left: 0;  /* Aligns it to the left side of the viewport */
}

/* Nav Padding */
.header-top-nav-padding {
  padding-left: 50px;
  padding-right: 250px;
  width: 100%;  /* Ensures the nav spans the full width of the header */
  position: relative;  /* Positions it relative to the header */
  top: 10px;  /* Positions it below the top bar */
}

/* Header Title */
.header-title {
  font-size: 40px;
  font-family: 'Montserrat, serif';
  font-weight: 500;
  color: white;
  margin-left: 150px;
  margin-right: auto;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .header-top {
    height: 3rem; /* Adjusts height for smaller screens */
  }
  .header-top-nav-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .header-title {
    font-size: 25px; /* Adjusts font size for very small screens */
    margin-left: 100px;
  }
}

@media (max-width: 480px) {
  .header-top {
    height: 2.5rem; /* Further adjusts height for very small screens */
  }
  .header-top-nav-padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .header-title {
    font-size: 20px; /* Adjusts font size for very small screens */
    margin-left: 50px;
  }
}




/* Bottom */
.tail {
  /* position: relative; */
  /* margin-top:15rem; */
  bottom: 0;
  width: 100%; 
  height: 150px;
  background-color: white; /* Sets the background color to white */
}


/* Intro Page */
.intro-page {
  position: relative;
  padding: 1rem;    
  margin-left: 6rem;   
  margin-right: 6rem;
  margin-top: 6rem;     
  margin-bottom: 1rem; 
  height: 800px;
  width: 90%;
  background-color: #DCD6F7;   
}
@media (max-width: 768px) {
  .intro-page {
    padding: 0.5rem;    
    margin-left: 4rem;   
    margin-right: 4rem;
    margin-top: 4rem;     
    margin-bottom: 0.75rem; 
    width: 90%;
    height: 600px;

  }
}
@media (max-width: 480px) {
  .intro-page {
    padding: 0.25rem;    
    margin-left: 2rem;   
    margin-right: 2rem;
    margin-top: 2rem;     
    margin-bottom: 0.25rem; 
    width: 90%;
    height: 500px;
  }
}


/* Intro Page Text */
.intro-page-text {
  font-size: 2.0rem;
  font-weight: bold; /* font-bold */
  margin-bottom: 1rem; /* mb-4 */
  margin-left: 3rem; /* mx-12 */
  margin-right: 3rem; /* mx-12 */
  color: #353a5d; /* text-[#353a5d] */
  font-family: 'Montserrat'; /* Montserrat */
}
@media (max-width: 768px) {
  .intro-page-text {
    font-size: 1.25rem; /* md:text-4xl */
    margin-left: 1rem; /* md:mx-8 */
    margin-right: 1rem;
  } /* md:mx-8 */
}
@media (max-width: 480px) {
  .intro-page-text {
    font-size: 0.75rem; /* xs:text-xl */
    margin-left: 0.5rem; /* xs:mx-2 */
    margin-right: 0.5rem; 
  }/* xs:mx-2 */
}





.post-row-custom-bg {
  background-color: #F4EEFF; /* Use !important to ensure this style has higher specificity */
  width: 100%; /* This ensures it takes the full screen width */
}


.intro-image-container {
  position: relative;
  width: 90%;
  padding-top: 90%; /* This is for a 16:9 aspect ratio. Adjust as needed */
}


/* Post Tiles Container (Three Posts) */
.post-tiles-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap; /* Changed from nowrap to wrap to allow wrapping */
  overflow-x: auto; /* Keeps horizontal scrolling for overflow */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
}
.post-tiles-container > * {
  margin-right: 50px;
  margin-left: 50px;
  flex: 1 0 21%; /* Ensures that each tile takes up at least 21% of the container width, adjust as needed */
}
@media (max-width: 768px) {
  .post-tiles-container {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .post-tiles-container > * {
    margin-right: 0; /* Removes right margin in vertical layout */
    margin-left: 0; /* Removes left margin in vertical layout */
    margin-top: 15px; /* Adds top margin for spacing between stacked tiles */
    margin-bottom: 15px; /* Adds bottom margin for spacing between stacked tiles */
    flex: 0 0 auto; /* Resets flex to not grow, shrink, and based on content height */
  }

  /* To avoid double spacing at the top of the first tile and bottom of the last tile */
  .post-tiles-container > *:first-child {
    margin-top: 0;
  }

  .post-tiles-container > *:last-child {
    margin-bottom: 0;
  }
}


.display-post-image {
  width: 100%;  /* Full width of the container */
  aspect-ratio: 1 / 1;  /* Keeps the width and height the same */
  object-fit: cover;  /* Ensures the image covers the area without distorting */
  border-radius: 8px; 

}


/* Post Tile Wrapper (Single Post Tile) */
.post-tile-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
  border-radius: 8px; 
  transition: box-shadow 0.3s ease; 
  /* height: 600px;  */
  padding: 0px 0px 25px 0px; /* top right bottom left */
  box-shadow: 5px 5px 15px rgba(66, 72, 116, 0.5); /* Default shadow */
}
.post-tile-wrapper:hover {
  box-shadow: 10px 10px 20px rgba(66, 72, 116, 0.9); 
  cursor: pointer;
}

.post-content {
  /* position: relative; */
  width: 100%;     
  padding: 1rem;    
  margin-left: 0.5rem;   
  margin-right: 0.5rem;
  margin-top: 4rem;     
  margin-bottom: 4rem;  
  /* height: 800px;  */
}

.actual-content {
  font-size: 20px; /* Set the base font size */
  font-weight: normal; /* Set the font weight */
  line-height: 1.5; /* Set the line height */
  letter-spacing: normal; /* Set the spacing between characters */
  color: #353a5d; /* Set the text color to black */
}