@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Header Top */
.header-top {
  position: fixed;    /* Keeps the header at the top of the viewport */
  top: 0;             /* Aligns the header at the top of the page */
  left: 0;            /* Aligns the header to the left side of the page */
  width: 100%;        /* Ensures the header spans the full width */
  padding: 1rem;      /* Provides padding around the content */
  background-color: white; /* Sets the background color to white */
  z-index: 50;        /* Ensures the header stays above other content */
}

/* Header Top */
.tail {
  margin-top: 100px;
  position: absolute;
  left: 0;  
  right: 0;          /* Aligns the header to the left side of the page */
  height: 100px;    
  padding: 1rem;      /* Provides padding around the content */
  background-color: white; /* Sets the background color to white */
}


/* Intro Page */
.intro-page {
  position: relative;
  width: 100%;     
  padding: 1rem;    
  margin-left: 0.5rem;   
  margin-right: 0.5rem;
  margin-top: 4rem;     
  margin-bottom: 4rem;  
  height: 800px;   
}
@media (max-width: 768px) {
  .intro-page {
      padding: 0.5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
  }
}


/* Post Tiles Container (Three Posts) */
.post-tiles-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap; /* Changed from nowrap to wrap to allow wrapping */
  overflow-x: auto; /* Keeps horizontal scrolling for overflow */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
}

.post-tiles-container > * {
  margin-right: 30px;
  margin-left: 30px;
  flex: 1 0 21%; /* Ensures that each tile takes up at least 21% of the container width, adjust as needed */
}

@media (max-width: 768px) {
  .post-tiles-container {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .post-tiles-container > * {
    margin-right: 0; /* Removes right margin in vertical layout */
    margin-left: 0; /* Removes left margin in vertical layout */
    margin-top: 15px; /* Adds top margin for spacing between stacked tiles */
    margin-bottom: 15px; /* Adds bottom margin for spacing between stacked tiles */
    flex: 0 0 auto; /* Resets flex to not grow, shrink, and based on content height */
  }

  /* To avoid double spacing at the top of the first tile and bottom of the last tile */
  .post-tiles-container > *:first-child {
    margin-top: 0;
  }

  .post-tiles-container > *:last-child {
    margin-bottom: 0;
  }
}


.display-post-image {
  width: 100%;  /* Full width of the container */
  aspect-ratio: 1 / 1;  /* Keeps the width and height the same */
  border: 2px solid black; /* Keeps your border styling */
  object-fit: cover;  /* Ensures the image covers the area without distorting */
}


/* Post Tile Wrapper (Single Post Tile) */
.post-tile-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #333333; 
  border-radius: 8px; 
  transition: box-shadow 0.3s ease; 
  padding: 40px 20px; 
  height: 700px; 
}
.post-tile-wrapper:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.8); 
  cursor: pointer;
}


.post-content {
  position: relative;
  width: 100%;     
  padding: 1rem;    
  margin-left: 0.5rem;   
  margin-right: 0.5rem;
  margin-top: 8rem;     
  margin-bottom: 4rem;  
  height: 800px; 
}

.actual-content {
  font-family: 'Arial', sans-serif; /* Set the font family */
  font-size: 20px; /* Set the base font size */
  font-weight: normal; /* Set the font weight */
  line-height: 1.5; /* Set the line height */
  letter-spacing: normal; /* Set the spacing between characters */
}